
div.item-sm {
	width: 35px;
	height: 35px;
}

div.item-md {
	width: 75px;
	height: 75px;
}

div.item-lg {
	width: 100px;
	height: 100px;
}

div.connectable {
	position: absolute;
	border: 0px;
	overflow: visible;
}

ul.itemList {
	list-style-type: none;
	padding:0px;
}

li.itemList {
	display:inline-block;
	padding-right: 20px;
	padding-top: 20px;
}
div.itemListLabel {
	padding-top: 5px;
	width: 75px;
	font-size: 8pt;
	font-family: Arial;
	text-align: center;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2; /* number of lines to show */
	line-height: 10px; /* fallback */
	max-height: 20px; /* fallback */
}

div.centered {
	margin: 0 auto;
}

.menuObject {
	width: 75px;
}

.magnetized {
	
}

div.item {
	position: relative;
	display: table;
}

div.itemLabel {
	background-color: #fcfcfc;
	z-index: 3000;
	position: relative;
	font-family: Arial;
	font-size: 10px;
	text-align: center;
	width:150px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2; /* number of lines to show */
	line-height: 10px; /* fallback */
	max-height: 20px; /* fallback */
}

div.startItem {
	background: url(../img/start.svg);
	background-size: cover;
}

div.endItem {
	background: url(../img/end.svg);
	background-size: cover;
}

div.taskItem {
	background: url(../img/task.svg);
	background-size: cover;
}

div.conditionItem {
	background: url(../img/condition.svg);
	background-size: cover;
}

div.loopItem {
	background: url(../img/loop.svg);
	background-size: cover;
}

div.workflowItem {
	background: url(../img/workflow.svg);
	background-size: cover;
}

div.item p {
	font-family: Arial;
	color: #404749;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	position: relative;
}

div.taskItem p {
	font-size: 9pt;
}

div.startItem, div.endItem p {
	font-weight: bold;
}

._jsPlumb_connector {
    cursor: pointer;
}

._jsPlumb_endpoint {
    cursor: pointer;
}

.rotate180 {
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.rotate0 {
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

#wf-workarea {
	padding: 0px;
	width: 10000px;
	height: 10000px;
	position: relative;
	background-color: #fcfcfc;
}

#wf-viewport {
	padding: 0px;
	width: 100%;
	height: 600px;
	outline: 1px solid #cccccc;
	border-radius: 2px;
	position: relative;
	background-color: transparent;
}

#wf-menu {
	position: absolute;
	z-index:65000;
	width: 300px;
	height: 600px;
	padding: 1px;
	overflow: hidden;
}

#wf-menuToggle {
	z-index:65000;
	width: 20px;
	height: 20px;
	cursor: context-menu;
}


#itemSelect {
	border-top: 0px;
	border-left: 0px;
	border-bottom: 0px;
	border-right: 1px solid #cccccc;
}

#itemSelect .ui-icon
{
	background-image: url(jquery-ui-custom/images/ui-icons_ffffff_256x240.png);
}

#itemSelect .ui-accordion-content > * {
    margin: 0;
    padding: 2px;
}

#itemSelect .ui-accordion-content {
    border: 0px;
    background-color: #F0FAFF;
    font-family: Verdana;
    font-size: 9pt;
    padding: 0px;
}

#itemSelect .ui-accordion-content > div:first-of-type {
    border: 0px;
    min-height: 600px;
    font-family: Verdana;
    font-size: 9pt;
    padding: 5px;
background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(226,236,243,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(226,236,243,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(226,236,243,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(226,236,243,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(226,236,243,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(226,236,243,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2ecf3', GradientType=0 );
}

#itemSelect .ui-accordion-content a {
    color: #777;
}

#itemSelect .ui-accordion-header {
	/* text-shadow: -1px -1px 0 #ccc, 1px -1px 0 #ccc, -1px 1px 0 #ccc, 1px 1px 0 #ccc; */
    background-color: #ccc;
    color: #fff;
    letter-spacing: 1px;
    margin: 0px;
    line-height: 18px;
    font-size: 9pt;
    text-indent: 10px;
    font-family: arial;
    border: 0px;
}

#itemSelect .ui-accordion-icons {
	color: #fff;
}

#itemSelect .ui-accordion-header a {
    display: block;
    width: 100%;
}

#itemSelect .ui-accordion-header:first-of-type {
    background: #666666;
}

#itemSelect .ui-accordion-header:nth-of-type(2) {
	background: #337ab7;
}

#itemSelect .ui-accordion-header:last-of-type {
	background: #E2A247;
}